
.env.local
.vercel
.env*.local

# Playwright
tests/.auth/
test-results/
playwright-report/

# clerk configuration (can include secrets)
/.clerk/

# Playwright
test-results/
playwright-report/
blob-report/

# Sentry Config File
.env.sentry-build-plugin
